@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #332F39;
    z-index: 999;
  }
  
  .scroll-progress-indicator {
    height: 100%;
    background-color: rgb(0, 115, 255);;
    width: 0;
    transition: width 0.3s; 
  }

  body {
    scroll-behavior: smooth;
  }

.active{
  color: rgb(0, 115, 255);
}

.left-side-login {
  /*background: linear-gradient(139deg, #df17ee 0%, #40bf88 56%, #312eff 99%);*/
  background: linear-gradient(333deg, #90cefe 0%, #c7fff8 100%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
}

.login-side {
  background: linear-gradient(170deg, #d9f7ed 0%, #fbd5f6 100%);
}